<app-header/>

<main>
    <ul id="users">
        @for (user of users; track $index) {
            <li>
                <app-user
                [user]="user"
                (select)="onSelectUser($event)"
                [selected]="user.id === selectedUserId" />
            </li>
        }

   <!--      <li>
            <app-user
            [user]="users[0]"
            (select)="onSelectUser($event)" /> // SEGUNDA VERSÃO
            [id]="users[0].id" [avatar]="users[0].avatar" [name]="users[0].name"  // PRIMEIRA VERSÃO
        </li>
        <li>
            <app-user
            [user]="users[1]"
            (select)="onSelectUser($event)" />
             [id]="users[1].id"  [avatar]="users[1].avatar" [name]="users[1].name" 
        </li>
        <li>
            <app-user
            [user]="users[2]"
            (select)="onSelectUser($event)" />
             [id]="users[2].id"  [avatar]="users[2].avatar" [name]="users[2].name" 
        </li>
        <li>
            <app-user
            [user]="users[3]"
            (select)="onSelectUser($event)" />
        </li>
    -->
    </ul>

    @if (selectedUser) {
        <app-tasks [name]="selectedUser.name" [userId]="selectedUser.id"/>
    } @else {
        <p id="fallback">Select a user to see their tasks</p>
    }
</main>